<div class="ui menu">
  <a class="item" href="/">Peer Review</a>
  <div class="right menu">
    <% if current_user %>
      <a class="item" data-method="delete" href="/logout">Logout</a>
    <% end %>
  </div>
</div>
