<div class="ui menu">
  <div class="right menu">
    <% if current_user %>
      <a class="item" data-method="delete" href="/logout">Logout</a>
    <% else %>
      <a class="item" href="/session/new">Sign up</a>
    <% end %>
  </div>
</div>
