<div class="ui teal inverted vertical menu huge">
  <a class="active item">
    Campaign
  </a>
  <a class="item">
    Spam
  </a>
  <a class="item">
    Updates
  </a>
  <div class="item">
    <div class="ui icon input">
      <input type="text" placeholder="Search mail...">
      <i class="search icon"></i>
    </div>
  </div>
</div>
