textarea {
  font-size: initial !important;
}

.ui.form .field > label {
  font-size: initial !important;
}

.ui.menu .item {
  font-size: large;
}

#feedback-sumbit-btn {
  font-size: large;
}

td {
  font-size: initial;
}

th {
  font-size: large;
}

.field input {
  font-size: initial;
}

.teal.vertical.menu {
  position: fixed;  
}

.ui.vertical.segment {
  border-bottom: none;
}

.ui.vertical.segment > .button {
  font-size: 16px;
}

.ui.form .inline.field > input {
  font-size: initial;
}

.edit-campaign-form {
  margin-top: 80px;
}

#menu-col {
  width: 22% !important;
}

#campaign-user {
  margin-top: 30px;
}

#campaign-name-feedbacks {
  margin-bottom: 40px;
  margin-top: 30px;
}
