textarea {
  font-size: initial !important;
}

.ui.form .field > label {
  font-size: initial !important;
}

.ui.menu .item {
  font-size: large;
}

#feedback-sumbit-btn {
  font-size: large;
}

td {
  font-size: initial;
}

th {
  font-size: large;
}

.field input {
  font-size: initial;
}

.teal.vertical.menu {
  position: fixed;  
}

.ui.vertical.segment {
  border-bottom: none;
}

.ui.vertical.segment > .button {
  font-size: 16px;
}

.ui.form input {
  font-size: initial !important;
}

.ui.form .inline.field > input {
  font-size: initial;
}

.edit-campaign-form {
  margin-top: 80px;
}

.ui.button {
  font-size: initial !important;
}

.error_field {
  box-shadow: 0 0 0 1px #E0B4B4 inset, 0 0 0 0 transparent;
  color: #9F3A38;
  border-radius: .28571429rem;
  position: relative;
  min-height: 1em;
  margin: 1em 0;
  background: #F8F8F9;
  padding: 1em 1.5em;
  line-height: 1.4285em;
  display: none;
}

#menu-col {
  width: 22% !important;
}

#campaign-user {
  margin-top: 30px;
}

#campaign-name-feedbacks {
  margin-bottom: 40px;
  margin-top: 30px;
}

#new_session_form label {
  width: 90px;
}

#new_session_form .error.message {
  width: 300px;
}

#show-campaign-header {
  margin-top: 80px;
}