<%= render 'new' %>
<div class="ui left floated vertical segment">
  <h1 class="ui header">Campaigns</h1>
</div>
<div class="ui right floated segment vertical">
  <a class="ui green button" onclick="showNewCampaignModal()">Add</a>
  <a class="ui red button" onclick="$('#form-campaigns-destroy').submit()">Delete</a>
</div>

<div id="campaign-grid">
  <%= render 'grid' %>
</div>

<script>
  function showNewCampaignModal() {
    $('#new_campaign_modal').modal('show')
  }
</script>
