<div class="ui left floated vertical segment">
  <h1 class="ui header"><%= @campaign.name %></h1>
</div>

<h1 class="ui header medium" id="show-campaign-header">Participants</h1>
<table class="ui single line table">
  <thead>
  <tr>
    <th>Email</th>
    <th>Name</th>
  </tr>
  </thead>
  <tbody>
  <% @campaign.users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.name %></td>
      </tr>
  <% end %>
  </tbody>
</table>
